* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* overflow-y: hidden !important; */
}

a {
    text-decoration: none;
}

body {
    font-size: 15px;
}

nav {
    /* top: 0; */
    position: fixed;
    left: 0;
    padding: 0 20px;
    right: 0;
    top: 20px;
    z-index: 999;
    margin: 0 auto !important;
    max-width: 900px;

}

nav img {
    width: 74px;
}


main {
    margin: 0 auto !important;
    max-width: 1200px;
}

section {
    height: calc(100vh - 200px);
    padding: 70px 150px;
}



.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 65px);
    padding: 0 200px;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.content p {
    font-size: 28px;
    color: #5c65ff;
    line-height: 1.30;
}

.content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
    color: #5c65ff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.second-section {
    display: grid;
    justify-content: space-around;
}

.second-section h2,
.third-section h2,
.fourth-section h2,
.fifth-section h2,
.sixth-section h2 {
    color: #242424;
    font-size: 30px;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.checklist-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-top: 50px;
}

.checklist-item {
    font-size: 15px;
    color: #717171;
    display: grid;
    grid-template-columns: 0.24fr 1fr;
    row-gap: 10px;
}

.checklist-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.section-footer {
    text-align: center;
    font-size: 15px;
    color: #717171;
    font-weight: 500;
    margin: 0 auto;
}


.third-section,
.fourth-section,
.fifth-section {
    display: grid;
    grid-template-rows: auto 1fr;
    /* height: calc(100vh - 65px); */
}


.third-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.third-section .content {
    text-align: center;
}

.third-section .content p {
    font-size: 14px;
    color: #717171;
    font-weight: 500;
}

.third-section h3 {
    font-size: 22px;
    color: #5c65ff;
    font-weight: 700;
    margin-bottom: 10px;
}

.third-section p {
    font-size: 15px !important;
    color: #717171;
}


.third-section .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section .main-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



.fourth-section .container {
    flex-direction: row-reverse;
}

.fourth-section .content {
    text-align: center;
}

.fourth-section .content p {
    font-size: 15px;
}

.fourth-section .content h3 {
    font-size: 22px;
}

.highlight {
    color: #5c65ff;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}



.fourth-section h3 {
    font-size: 19px;
    color: #5c65ff;
    margin-bottom: 10px;
    line-height: 1.25;
}

.fourth-section p {
    font-size: 14px;
    color: #717171;
    font-weight: 500;
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fifth-section .container {
    gap: 60px;
}

.fifth-section .content {
    text-align: center;
}

.fifth-section .content p {
    font-size: 15px;
    color: #717171;
    font-weight: 500;
    line-height: 1.4;
}


.fifth-section h3 {
    font-size: 22px;
    color: #5c65ff;
    margin-bottom: 10px;
}

.fifth-section p {
    font-size: 14px;
    color: #717171;
    line-height: 1.6;
}

.fifth-section .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-section .main-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sixth-section {
    display: grid;
    grid-template-rows: auto 1fr;
    /* height: calc(100vh - 65px); */
    background: url('./images/particles.svg');
    background-position: center 35px;
}


.sixth-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.sixth-section .content {
    text-align: center;
}

.sixth-section .content p {
    font-size: 15px;
}

.sixth-section h3 {
    font-size: 20px;
    color: #5c65ff;
    margin-bottom: 5px;
}

.sixth-section h4 {
    font-size: 18px;
    color: #5c65ff;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sixth-section p {
    font-size: 14px;
    color: #717171;
    line-height: 1.6;
    font-weight: 500;
}

.sixth-section .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixth-section .main-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sticky-bottom {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
}

.button {
    background-color: #5c65ff;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(92, 101, 255, 0.2);
    transition: all 0.3s ease;
    width: 220px;
    text-align: center;
    padding: 5px;


}

.seventh-section {
    display: grid;
    grid-template-rows: auto 1fr;
    /* height: calc(100vh - 65px); */
    padding-bottom: 0;
}

.coming-alive-container {
    text-align: center;
    margin-bottom: 40px;
    background: url('./images/bubble.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.coming-alive-bubble {
    color: white;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 250px;
    text-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 25px;
}



.coming-alive-bubble h2 {
    font-size: 30px;
    line-height: 1;
}

.coming-alive-bubble p {
    font-size: 12px;
    margin-top: 5px;
}

.seventh-section h3 {
    color: #7B68EE;
    font-size: 22px;
}



.seventh-section .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.form-container,
.info-container {
    flex: 1;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.info-container {
    padding: 20px;
}



.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #474747;
    font-weight: 700;
    font-size: 17px;
}

.form-container button {
    width: 100% !important;
    border: none !important;
}

.form-group input {
    width: 100%;
    border-radius: 15px;
    background-color: #ededed;
    border: none !important;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
}

.form-group input:focus {
    outline: none;
}

.gradient {
    background: linear-gradient(90.74deg, #5C65FF -4.72%, #905CFF 105.8%);
    box-shadow: none;
    margin-top: 10px;
}

.form-footer {
    font-size: 15px;
    color: #717171;
    margin-top: 10px;
}

.info-container {
    text-align: center;
}

.info-container h4 {
    font-size: 22px;
    color: #5c65ff;
    margin-bottom: 10px;
    line-height: 1.25;
}

.info-container p {
    font-size: 15px;
    color: #717171;
    line-height: 1.25;
    font-weight: 500;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: #717171;
}

/* Media Queries */

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}